name: Train Models

on:
  push:
      branches:
        - 'train-models'
  workflow_dispatch: {}
  schedule:
    - cron: '0 5 * * 2' # This cron schedule runs every Tuesday at 5 AM (UTC)

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: pip install -r requirements.txt
    
    - name: Run main.py
      run: python main.py
    